* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 241, 245);
}
.main {
  width: 1000px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
/* 清除浮动，注意此时父元素不要有height */
.clearfix::after {
  content:'';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}