.content {
  width: 1000px;
  margin: 92px auto;
}

/* article */

.content article {
  float: left;
  width: 700px;
}

.content article .picscroll {
  width: 700px;
  height: 254px;
  margin-bottom: 30px;
  background-color: beige;
}

.content article .articlelist li {
  width: 640px;
  padding: 24px 30px;
  margin-bottom: 2px;
  background-color: white;
  border-radius: 4px;
}

.content article .articlelist li .article-item-header {
  height: 24px;
  margin-bottom: 15px;
  font-size: 12px;
}

.content article .articlelist li .article-item-header a:first-child img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.content article .articlelist li .article-item-header a:last-of-type span {
  color: #666;
}

.content article .articlelist li .article-item-header a:last-of-type img {
  width: 27px;
  height: 12px;
}

.content article .articlelist li .article-item-header span {
  color: #ccc;
}

.content article .articlelist li .article-item-body {
  height: 175px;
}

.content article .articlelist li .article-item-body .article-item-body-title {
  margin-bottom: 5px;
}

.content article .articlelist li .article-item-body .article-item-body-title h3 {
  float: left;
  font-size: 16px;
}

.content article .articlelist li .article-item-body .article-item-body-title h3:first-of-type {
  width: 28px;
  padding: 0 4px;
  color: #ffffff;
  font-size: 14px;
  background-color: #00c3ff;
  margin-right: 5px;
  border-radius: 2px;
}

.content article .articlelist li .article-item-body .article-item-body-content {
  margin-top: 8px;
  color: #999;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content article .articlelist li .article-item-body .article-item-body-pic {
  width: 120px;
  height: 120px;
  margin-top: 10px;
  background-image: url(../img/articlepic.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content article .articlelist li .article-item-footer {
  height: 29px;
  margin-top: 12px;
}

.content article .articlelist li .article-item-footer .article-item-footer-label {
  float: left;
  width: 60px;
  height: 24px;
  border-radius: 12px;
  line-height: 24px;
  padding: 0 12px;
  font-size: 12px;
  background-color: rgb(235, 235, 235);
}

.content article .articlelist li .article-item-footer .article-item-footer-label a {
  color: rgb(122, 122, 122);
}

.content article .articlelist li .article-item-footer .article-item-footer-details {
  float: right;
  color: #ccc;
}

.content article .articlelist li .article-item-footer .article-item-footer-details span {
  display: inline-block;
  margin-right: 8px;
}

.content article .articlelist li .article-item-footer .article-item-footer-details span:nth-child(2n) {
  width: 50px;
  font-size: 14px;
}

.content article .articlelist li .article-item-footer .article-item-footer-details a {
  color: #ccc;
}

/* secondlist append */

.content article .articlelist .secondlist .article-item-body {
  height: auto;
}

.content article .articlelist .secondlist .article-item-body .article-item-body-pic {
  width: 400px;
  height: 225px;
  margin-top: 10px;
  background-image: url(../img/articlepic2.jfif);
}

/* thirdlist append */

.content article .articlelist .thirdlist .article-item-body .article-item-body-pic {
  float: left;
  margin-right: 5px;
}

/* aside */

.content aside {
  float: right;
  width: 280px;
}

.content aside .asidecommit {
  width: 280px;
  margin: 0 auto 50px;
  height: 234px;
  background-color: #ffffff;
  border-radius: 4px;
}

.content aside .asidecommit>p {
  width: 240px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  border-bottom: 1px dotted gray;
  color: black;
  font-weight: 700;
  text-align: center;
}

.content aside .asidecommit>div {
  height: 60px;
  text-align: center;
  padding: 15px 0;
}

.content aside .asidecommit>div button {
  width: 160px;
  height: 40px;
  color: #663c00;
  font-weight: 600;
  background: #ffe14c;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.content aside .asidecommit>div p {
  color: #999;
  font-size: 12px;
  margin-top: 10px;
}

.content aside .download {
  width: 252px;
  height: 100px;
  padding: 20px 14px;
  background-color: #ffffff;
  border-radius: 4px;
}

.content aside .download .download-img {
  float: left;
  padding: 5px 0;
}

.content aside .download .download-img img {
  width: 100px;
}

.content aside .download .download-text {
  float: right;
  font-size: 16px;
  padding: 30px 0;
}

.content aside .download .download-text p {
  height: 25px;
  line-height: 25px;
}

.content aside .download .download-text p:first-child {
  color: #00c3ff;
}

.content aside .download .download-text p:last-child {
  color: #999;
}

.content aside .banner {
  margin-top: 20px;
}

.content aside .banner img {
  width: 280px;
  border-radius: 4px;
}

.content aside .news {
  height: 396px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.content aside .news .news-header {
  height: 49px;
  line-height: 49px;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 0 20px;
}

.content aside .news .news-header strong {
  float: left;
}

.content aside .news .news-header a {
  float: right;
  font-size: 14px;
  color: #999
}

.content aside .news .news-body {
  padding: 20px;
}

.content aside .news .news-body .news-body-img {
  position: relative;
  width: 240px;
  height: 136px;
  background-image: url(../img/newspic.jpg);
  background-size: auto 136px;
  background-position: -28px 0;
}

.content aside .news .news-body .news-body-img .news-body-img-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

.content aside .news .news-body .news-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.content aside .news .news-body .news-list li span:first-child {
  display: inline-block;
  width: 32px;
  height: 16px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #c3ccd9;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}

.content aside .news .news-body .news-list li span:last-child {
  font-size: 14px;
  color: #333;
}